body{
    display: flex;
    margin: 0;
}

#image-container{
   background-color: red;
   height: 100vh;
   width: 33.3vw; 
}

#form-description{
    background-color: blue;
}

#form{
    background-color: yellow;
}

#create-account{
    background-color: pink;
}